{% extends 'base.html' %}

<!DOCTYPE html>
<html>

    {% block content %}
	<body>
    
    <div class="fond">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center box">
    
            <h1 class="font-weight-light col">Qui sommes nous ? </h1>
            <p class="font-weight-light col">{{description}}</p>
            
          </div>
        </div>
      </div>
    </div>
    </body>
    {% endblock %}
    
</html>
    