{% extends 'base.html' %}

<!DOCTYPE html>
<html>

    {% block content %}
	<body>
    
    <div class="fond">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center box">
            <br/>
            <h1 class="font-dark col">Qui sommes nous ?🤔 </h1>
            <br/><br/>
            
            <p>Dans le cadre des cours de Gestion de Projet et de Projet Intégré,
             du Master 1 Informatique à l'université de Lyon 2, nous étions amenés à créer une interface 
             présentant des données en lien avec le tourisme dans les sites recensés par l’UNESCO.
             </p>
             <p> Nous avons donc decidé de créer une web app qui vous permettra de visualiser 
             de nombreux graphiques decrivant l'impact du covid19🦠 sur le tourisme italien 🍝
             <img src="https://www.mpadeco.com/resize/500x500/zc/3/f/0/src/sites/mpadeco/files/products/6f8c91073e9b8bb546f61634bfd10f6f.png" alt="italy-flag" style="height: 20px;">.
             </p>
             <br/>
            <p>
              5 étudiant(e)s y ont contribué 🤝. Ils ont eux-mêmes : 
              <ul>
                ✅ Collecter les données ☝️<br/>
                ✅ Nettoyer les données ✌️<br/>
                ✅ Analyser les données 👌<br/>
                ✅ Créer des graphiques liées aux analyses☝🏻🤟🏻<br/>
                ✅ Créer une interface pour présenter les graphiques et analyses.🖐️<br/>
              </ul>
            </p>
            
          </div>
        </div>
      </div>
    </div>
    </body>
    {% endblock %}
    
</html>
    