{% extends 'base.html' %}

<!DOCTYPE html>
<html>

    {% block content %}
	<body>
    
    <div class="fond">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center box">
            <br/><br/><br/><br/>
            <h1 class="font-weight-dark col">Covi Talie </h1>
            <img src="https://www.mpadeco.com/resize/500x500/zc/3/f/0/src/sites/mpadeco/files/products/6f8c91073e9b8bb546f61634bfd10f6f.png" alt="italy-flag" style="height: 50px;">
            <br/><br/>
            <h2 class="font-weight-light col">{{description}}<img src="./static/colesem.png" alt="coleseum" style="height: 50px;">.</h2>
            <br/><br/>
            
             
          </div>
          
        </div>
      </div>
    </div>
    </body>
    {% endblock %}
    
</html>
    
   