

<!DOCTYPE html>
<html>
<!--  header -->
    <head>
		<title>Covi-Italie</title>
		<meta  charset="UTF-8" />
		<meta name="Author" content="Amran HABDOURAZAK Pauline ATTAL Prince MEZUI Christelle  Veronique ADJOUA" />
		<meta name="Keywords" content="Web,HTML5" />
		<meta name="Description" content="site covitalie du projet M1 informatique" /> 


	    <!-- liens pour le framework css et js bootstrap -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	    <link href="{{url_for('static', filename='/top.css')}}" rel="stylesheet" >
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/style.css')}}" >
        
        <script type="text/javascript" src="{{url_for('static', filename='/css/bootstrap/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='/top.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='/activ.js')}}"></script>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
	</head> 


	
    <body>
    <!-- Menu du site -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-pills">
            <a class="navbar-brand" href="/accueil">
                <img src="https://img.icons8.com/ios-filled/50/000000/home-screen.png"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item navig active" data-anim="1">
                        <a class="nav-link" href="/about">PRESENTATION</a>
                    </li>
                    <li class="nav-item navig" data-anim="2">
                        <a class="nav-link" href="/desc">Description</a>
                    </li>
                    <li class="nav-item navig" data-anim="3">
                        <a class="nav-link" href="/focus">Effet Covid</a>
                    </li>
                    <li class="nav-item navig" data-anim="4">
                        <a class="nav-link" href="/prev">Simulation</a>
                    </li>
                </ul>
            </div>
        </nav>
    
    
        <center>
        	{% block content %}{% endblock %}
        	{% block graph %}{% endblock %}
        </center>
           
        <a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true"></a>
        <div class="height">
            <h3 class="text-center scroll"> </h3>
        </div>

        <footer class="text-center text-black" style="background-color: #f1f1f1;">
            <div class="container pt-4">
                <section class="mb-4">    
                    <!-- Github -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/CoviTalie/CoviTalie_fr" role="button" data-mdb-ripple-color="dark" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                    </a> 
                    <p>github</p>
                </section>
            </div>
            <!-- Copyright -->
            <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:  </br>
                        Amran ABDOURAZAK ABDILLAHI </br>
                        Pauline ATTAL</br>
                        Véronique HOUNDONOUGBO</br>
                        Christelle KIEMDE</br>
                        Prince MEZUI

            </div>
        </footer>
    </div>
        
    </body> 
</html>

